<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New comment model</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <style type="text/css">

      .content {
        width: 800px;
        margin-top: 50px;
      }

      .spacer-top {
        margin-top: 10px;
      }

      .pointer {
        cursor: pointer;
      }

    </style>

    <link rel="stylesheet" href="styles.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js"></script>

    <script>
      angular
        .module('app', [])
        .component('activity', {
          template: `
            <div
              class="media"
              ng-class="{'activity-parent': $ctrl.parent, 'activity-child': $ctrl.child, 'activity-main': $ctrl.main, 'pointer': !$ctrl.main}"
              ng-click="!$ctrl.main ? $ctrl.alert('Open the tweet in a new tab') : ''">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" ng-src="{{ $ctrl.activity.author.avatar }}">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  <b>{{ $ctrl.activity.author.name }}</b>
                  <small class="text-muted">@{{ $ctrl.activity.author.username }}</small>
                  <small class="text-muted pull-right">{{ $ctrl.activity.interaction.created_at | date:'MMM d yyyy, HH:mm' }}</small>
                </h4>
                <p>
                  {{ $ctrl.activity.interaction.content }}
                </p>
                <div class="activity-actions">
                  <a href="javascript:;" ng-click="$ctrl.alert('Retweet'); $event.stopPropagation()"><i class="fa fa-retweet"></i> Retweet</a>
                  <a href="javascript:;" ng-click="$ctrl.alert('Like'); $event.stopPropagation()"><i class="fa fa-heart"></i> Like</a>
                </div>

                <div ng-show="$ctrl.main" class="spacer-top">
                  <textarea class="form-control" rows="3">@{{ $ctrl.activity.author.username }} </textarea>
                  <br>
                  <div class="text-right"><button class="btn btn-success">Send reply</button></div>
                </div>

              </div>
            </div>
          `,
          bindings: {
            activity: '<',
            parent: '<',
            child: '<',
            main: '<'
          },
          controller() {
            this.alert = function(action) {
              alert(action);
            };
          }
        })
        .controller('AppCtrl', function($scope, $location, $window, $timeout) {

        this.$location = $location;

        function getFakeActivity() {
          return {
            author: {
              name: faker.name.findName(),
              username: faker.internet.userName(),
              avatar: faker.image.avatar()
            },
            interaction: {
              created_at: faker.date.past(),
              content: faker.lorem.sentences()
            }
          };
        }

        function getActivities(count) {
          const activities = [];
          for (let i = 0; i < count; i++) {
            activities.push(getFakeActivity());
          }
          return activities;
        }

        function scrollToMain() {
          $timeout(() => {
            const main = document.querySelector('.activity-main');
            $window.scrollTo(0, main.offsetTop - 50 - (main.clientHeight / 2));
          }, 200);
        }

        $scope.$watch(() => $location.url(), path => {

          this.limits = {
            children: 5,
            siblings: {
              next: 0,
              prev: 5
            }
          };

          switch(path) {
            case '/1':

              this.thread = {
                current: getFakeActivity(),
                children: getActivities(20),
                siblings: {
                  next: [],
                  prev: []
                },
                parents: []
              };

              $timeout(() => {
                $window.scrollTo(0, 0);
              });

              break;

            case '/2':

              this.thread = {
                current: getFakeActivity(),
                children: getActivities(20),
                siblings: {
                  next: getActivities(20),
                  prev: getActivities(20)
                },
                parents: [
                  getFakeActivity()
                ]
              };

              scrollToMain();

              break;

            case '/3':

              this.thread = {
                current: getFakeActivity(),
                children: [],
                siblings: {
                  next: getActivities(20),
                  prev: getActivities(20)
                },
                parents: getActivities(2)
              };

              scrollToMain();

              break;

            default:
              $location.url('/1');
          }

        });

      });
    </script>

  </head>
  <body ng-app="app" ng-controller="AppCtrl as $ctrl">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Comment scaffolding</a>
      </div>
      <ul class="nav navbar-nav">
        <li ng-class="{active: $ctrl.$location.url() == '/1'}"><a href="#1">Top level parent</a></li>
        <li ng-class="{active: $ctrl.$location.url() == '/2'}"><a href="#2">2nd level child</a></li>
        <li ng-class="{active: $ctrl.$location.url() == '/3'}"><a href="#3">3rd level child</a></li>
      </ul>
    </nav>

    <div class="container content">

      <div class="activity-context">

        <div ng-repeat="parent in $ctrl.thread.parents" ng-style="{marginLeft: ($index * 78) + 'px'}">
          <activity
            activity="parent"
            parent="true">
          </activity>
        </div>

        <div ng-class="{'activity-children': $ctrl.thread.parents.length > 0}" ng-style="{marginLeft: (78 * $ctrl.thread.parents.length) + 'px'}">

          <div ng-if="$ctrl.thread.siblings.prev.length > 0">

            <div class="text-center activity-expander" ng-show="$ctrl.limits.siblings.prev < $ctrl.thread.siblings.prev.length">
              <a
                href="javascript:;"
                ng-click="$ctrl.limits.siblings.prev = $ctrl.limits.siblings.prev + 5">
                Show previous
              </a>
            </div>

            <activity
              ng-repeat="child in $ctrl.thread.siblings.prev | orderBy:'interaction.created_at':true | limitTo:$ctrl.limits.siblings.prev | orderBy:'interaction.created_at'"
              activity="child"
              child="true">
            </activity>

          </div>

          <activity activity="$ctrl.thread.current" main="true"></activity>

          <div class="activity-children">

            <div class="text-center activity-expander" ng-show="$ctrl.limits.children < $ctrl.thread.children.length">
              <a
                href="javascript:;"
                ng-click="$ctrl.limits.children = $ctrl.limits.children + 5">
                Show previous comments
              </a>
            </div>

            <activity
              ng-repeat="child in $ctrl.thread.children | orderBy:'interaction.created_at':true | limitTo:$ctrl.limits.children | orderBy:'interaction.created_at'"
              activity="child"
              child="true">
            </activity>

          </div>

          <div ng-if="$ctrl.thread.siblings.next.length > 0">
            <activity
              ng-repeat="child in $ctrl.thread.siblings.next | orderBy:'interaction.created_at' | limitTo:$ctrl.limits.siblings.next"
              activity="child" child="true">
            </activity>
            <div class="text-center activity-expander" ng-show="$ctrl.limits.siblings.next < $ctrl.thread.siblings.next.length">
              <a
                href="javascript:;"
                ng-click="$ctrl.limits.siblings.next = $ctrl.limits.siblings.next + 5">
                <span ng-show="$ctrl.limits.siblings.next > 0">Show more</span>
                <span ng-show="$ctrl.limits.siblings.next === 0">
                  <i class="fa fa-comment"></i> Show next comments
                </span>
              </a>
            </div>
          </div>

        </div>
      </div>

    </div>
  </body>
</html>